---
title: Home
layout: blog
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->

{% endif %}

<!-- Posts Index
================================================== -->
 <section class="bg-primary-3 text-white">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h1 class="display-3">Newsroom</h1>
           <div class="lead">Your Number One Small & Medium Scale Enterprise (SMEs), Financial and Investment Blog </div>
          </div>
        </div>
        <div class="row justify-content-center">
           {% for post in paginator.posts %}

               {% include blogpost.html %}          

        {% endfor %}
       
          
          
         
         
        </div>

          {% include pagination.html %}
        
      </div>
    </section>
    

