---
title: Home
layout: blog
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->

{% endif %}

<!-- Posts Index
================================================== -->

<section class="bg-light">
      <div class="container">
        <div class="row section-title justify-content-center text-center">
          <div class="col-md-9 col-lg-8 col-xl-7">
            <h1 class="display-3">Blog</h1>
           <div class="lead">The latest updates, stories , ideas and guides from the NEO360 team </div>
          </div>
        </div>
        <div class="row">
          <div class="col">

             {% for post in paginator.posts %}

               {% include blogpost2.html %}          

        {% endfor %}
       
           
           
            
           
           
          </div>
        </div>
        {% include pagination.html %}
      </div>
    </section>

    

