<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>NEO360Africa Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Number One Small & Medium Scale Enterprise (SMEs), Financial and Investment Blog">
    <!-- Begin loading animation -->
    <link href="{{ site.baseurl }}/assets/assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="{{ site.baseurl }}/assets/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/assets/img/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

   {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    {% endif %}
    
    
  </head>

  <body>
  
    <div class="navbar-container">
      <nav class="navbar navbar-expand-lg navbar-light" data-sticky="top">
        <div class="container">
          <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="https://www.neo360africa.com/">
            <img alt="NEO360Africa" src="{{ site.baseurl }}/assets/assets/img/logos/Neo360logo.svg">
          </a>
          <div class="d-flex align-items-center order-lg-3">
            <a href="#" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Download Now</a>
            <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
              <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg src="{{ site.baseurl }}/assets/assets/img/icons/interface/icon-menu.svg">
              <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg src="{{ site.baseurl }}/assets/assets/img/icons/interface/icon-x.svg">
            </button>
          </div>
          <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
            <ul class="navbar-nav my-3 my-lg-0">
             <li class="nav-item"> <a  class="nav-link">Borrow</a>

            	</li>
          		<li class="nav-item"> <a  class="nav-link">Invest</a>

          		</li>
          		<li class="nav-item"> <a  class="nav-link">Business Advisory</a>

          		</li>
           
               
            </ul>
          </div>
        </div>
      </nav>
    </div>

    {{ content }}



   <footer class="pb-4 footer-3">
      <div class="container">
        <div class="row text-primary">
          <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
             <h5>Products</h5>
            <ul class="nav2 flex-row flex-md-column links-black ">
              <li class="nav-item mr-3 mr-md-0">
                <a class="nav-link  px-0 py-2">Secured Loans</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link  px-0 py-2">Unsecured Loans</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Investment</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Business Advisory</a>
              </li>
              
            
              
              
            </ul>
         
            
          </div>
          <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
            <h5>Company</h5>
            <ul class="nav2 flex-row flex-md-column links-black">
              
            
               <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">About Us</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Careers</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">CSR & Impact</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">FAQs</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Partner With Us</a>
              </li>
             
             
           
            </ul>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
            <h5>Discover More</h5>
            <ul class="nav2 flex-row flex-md-column links-black">
            <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Blog</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Statistics</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Institutional Investors</a>
              </li>
               <li class="nav-item mr-3 mr-md-0">
                <a class="nav-link px-0 py-2">Financial Inclusion</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a class="nav-link px-0 py-2">Investors Guide</a>
              </li>
             
            </ul>
          </div>
          
       
           <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
            <h5>Legal</h5>
            <ul class="nav2 flex-row flex-md-column links-black">
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link px-0 py-2">Security</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link  px-0 py-2">Investor Agreement </a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a  class="nav-link  px-0 py-2">SME Agreement</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a class="nav-link  px-0 py-2">Privacy Policy</a>
              </li>
             
            </ul>
            
            <br/>
             
            
          </div>
           
        
          
          
          
        
          
         
        </div>
        <br/><br/>
        
        <div class="row">
        
          <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
             <h5>Contact</h5>
            <ul class="nav2 flex-row  links-black">
              <li class="nav-item mr-3 mr-md-0">
                <p class="nav-link  px-0 py-2">info@NEO360Africa.com</p>
              </li>
              
              
            
              
              
            </ul>
         
            
          </div>
          <div class="col-xl-auto mr-xl-5 col-md-4 mt-4 mt-md-5 mt-lg-0">
            
            <ul class="nav2 flex-row  links-black">
              <h5>Address</h5>
            
               <li class="nav-item mr-3 mr-md-0">
                <p class="nav-link  px-0 py-2">160, Awolowo Road,  Ikoyi <br/>Lagos,  Nigeria</p>
              </li>
            
             
           
            </ul>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-3 mt-4 mt-md-5 mt-lg-0">
            
            <ul class="nav2 flex-row  links-black">
              <h5>Need Help?</h5>
            
               <li class="nav-item mr-3 mr-md-0">
                <p  class="nav-link  px-0 py-2">+234 70 3153 8964</p>
              </li>
            
             
           
            </ul>
          </div>
          
          <div class="col-xl-auto mr-xl-5 col-md-4 mt-4 mt-md-5 mt-lg-0">
            <h5></h5>
           
            <ul class=" justify-content-center list-unstyled d-flex mb-0 mt-1">
             <li class="mx-3">
                <a href="https://twitter.com/neo360A" class="hover-fade-out">
                  <img src="{{ site.baseurl }}/assets/assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs " data-inject-svg>
                </a>
              </li>
              <li class="mx-3">
                <a href="https://www.instagram.com/NEO360africa" class="hover-fade-out">
                  <img src="{{ site.baseurl }}/assets/assets/img/icons/social/instagram.svg" alt="Instagram" class="icon icon-xs " data-inject-svg>
                </a>
              </li>
              <li class="mx-3">
                <a href="https://facebook.com/Neo360Africa" class="hover-fade-out">
                  <img src="{{ site.baseurl }}/assets/assets/img/icons/social/facebook.svg" alt="Facebook" class="icon icon-xs " data-inject-svg>
                </a>
              </li>
              <li class="mx-3">
                <a href="https://www.linkedin.com/company/neo360-africa" class="hover-fade-out">
                  <img src="{{ site.baseurl }}/assets/assets/img/icons/social/google.svg" alt="Linkedin" class="icon icon-xs " data-inject-svg>
                </a>
              </li>
            </ul>
          </div>
          
      
         
        </div>
          
         <hr>
       
        <div class="flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center ">
          
          
          
            <div class=" flex-column flex-sm-row align-items-center text-small">
              <div class="text-muted">&copy; 2019 NEO360 Africa Limited.<br/> NEO360 Africa Limited is a registered company by CAC (RC 1565017), regulated by Money Lenders Act. <br/>We are a proud Member of Fintech Association of Nigeria, a self-regulated body focused on Nigerian Fintech ecosystem development
              </div>
            </div>
         
         
        </div>
      </div>
    </footer>
    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
      <img src="{{ site.baseurl }}/assets/assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/clipboard.min.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
      window.addEventListener("load",function(){document.querySelector('body').classList.add('loaded');});
    </script>

  </body>

</html>
